.info {
    background-color: #f9f9f9;
    color: #333;
}

.info-heading {
    font-weight: bold;
}

.info-description {
    font-size: 1.1rem;
    line-height: 1.6;
}

.text-justify {
    text-align: justify;
}

.Dev-image-right {
    box-shadow: 20px 20px 10px 8px rgb(121, 121, 121);
}

.Dev-image-left {
    box-shadow: -20px 20px 10px 8px rgb(121, 121, 121);
}

.AboutMe {
    color: #333;
}

.AboutMe h2 {
    font-size: 1.8rem;
}

.AboutMe .btn-secondary:hover {
    background-color: #5a6268 !important;
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

@media (max-width: 991px) {
    .custom-flex {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 25px;
    }

    .image-column {
        margin-bottom: 25px;
    }
}

@media (min-width: 992px) {
    .custom-flex {
        display: flex;
        flex-direction: row;
    }

    .text-column {
        order: 1;
    }

    .image-column {
        order: 2;
    }
}